@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

h2 {
  color: #d90429;
  margin: 40px;
}

.btn-primary {
  background-color: #d90429;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #ef233c;
}

.btn-primary:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.bg-light {
  background-color: inherit !important;
  border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-item::before,
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d90429;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s;
}

.nav-item::before {
  top: -3px;
  transform-origin: left;
}

.nav-item::after {
  bottom: -3px;
  transform-origin: right;
}

.nav-link:hover {
  color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
  transform: scaleX(1);
}

.white-logo {
  background-color: #d90429;
  position: absolute;
  top: 0;
  z-index: auto;
  margin: 0px 5px 5px;
  border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
  color: #d90429 !important;
}

.collapse,
.navbar-collapse {
  text-align: right;
}

.course-container {
  display: flex;
  justify-content: center;
}
th{
  width: 100px!important;
}
.card {
  /* margin-left: 30px; */
  margin-bottom: 20px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  border-color: #ef233c;
  display: flex;
  /* flex-direction: row; */
  border-radius: 4px!important;
  background: #fff;
  box-shadow: 5px 14px 29px #cac4c4, -14px -14px 29px #ffffff;
}

.btn-insert {
  background-color: #146e18;
  color: white;
}

.btn-insert:hover {
  background-color: #15791a;
  color: white;
}

.btn-edit{
  background-color: inherit;
  border: none;
}

.scale-up-horizontal-left {
  animation: scale-up-horizontal-left 0.8s;
}
@keyframes scale-up-horizontal-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: left center;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left center;
  }
}

.course-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a{
  margin-top: 5px;
  color: #ef233c;
  text-decoration: none;
}

a:hover{
  color: #d90429;
  text-decoration: none;
}
.course-teacher {
  display: block;
}
.img-container {
  display: flex;
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
}

.card-left {
  max-width: 100%;
  border-right: solid 1px rgba(128, 128, 128, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject-container {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  background-color: inherit;
  border: solid 1px #146e18;
}

.actions{
  display: flex;
  /* flex-direction: column; */
}

form label{
  color: #d90429;
}