.form-container{
  display: flex;  
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: 100%; */
}

h1{
  color: #e62222;
}

form{
  width: 500px;
}