@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: black;
}

.text-balck {
    color: black;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  border: none;
}

.vertical-dotted-line {
  border-left: 1px dotted black;
  height: 100px;
  margin: 0 20px;
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-boyd a {
  width: 20px;
  height: 20px;
}

.resume-right {
  margin-right: 50px;
}

.btn-container {
  display: flex;
  align-items: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  align-items: center;
}

.icon-sidebar {
  margin-left: 1rem;
}

#logo-jdas {
  margin-bottom: 2rem;
}

td {
    border-color: #d90429;
}

td,
th {
  text-align: center;
}

th {
  background-color: #43546f !important;
  color: #fff;
}

#table-first {
  border-radius: 10px 0 0 0 !important;
}

#table-last {
  border-radius: 0 10px 0 0;
}

th {
    border-width: 0 2px 0 2px;
    background-color: #d90429 !important;
    border-color: #fff;
}

.icon-user {
  font-size: 4rem;
  color: #00ac4f;
}

.icon-arrow {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #00ac4f;
}

.customer-month {
  display: flex;
}

.modal {
  font-family: var(--font-family-roboto);
}

.modal-header {
  background-color: var(--purple);
  color: white;
}

.modal-header button {
  border: none;
  background-color: inherit;
}

.form-label {
  font-weight: bolder;
}

.btn-update {
  color: white;
  background-color: var(--purple);
}

#tableStudents {
    width:80% !important;
    margin: auto;
}

#containerTableCustomer {
  height: 47vh;
}

.th-reduce {
  width: 0.75rem !important;
}

.btn-icons {
  border: 0px !important;
}

h2 {
  color: #d90429;
  margin: 20px;
}

.btn-primary {
  background-color: #d90429;
  border: none;
  border-radius: 4px;
}

.rounded{
  border-radius: 4px;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #ef233c;
}

.btn-primary:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.bg-light {
  background-color: inherit !important;
  border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-item::before,
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d90429;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s;
}

.nav-item::before {
  top: -3px;
  transform-origin: left;
}

.nav-item::after {
  bottom: -3px;
  transform-origin: right;
}

.nav-link:hover {
  color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
  transform: scaleX(1);
}

.white-logo {
  background-color: #d90429;
  position: absolute;
  top: 0;
  z-index: auto;
  margin: 0px 5px 5px;
  border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
  color: #d90429 !important;
}

.collapse,
.navbar-collapse {
  text-align: right;
}

.course-container {
  display: flex;
  justify-content: center;
}

th {
  width: 100px !important;
}

.card {
  /* margin-left: 30px; */
  margin-bottom: 20px;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  border-color: #ef233c;
  display: flex;
  /* flex-direction: row; */
  border-radius: 4px !important;
  background: #fff;
  box-shadow: 5px 14px 29px #cac4c4, -14px -14px 29px #ffffff;
}

.btn-insert {
  background-color: #146e18;
  color: white;
}

.btn-insert:hover {
  background-color: #15791a;
  color: white;
}

.btn-edit {
  background-color: inherit;
  border: none;
}

.scale-up-horizontal-left {
  animation: scale-up-horizontal-left 0.8s;
}

@keyframes scale-up-horizontal-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: left center;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left center;
  }
}

.course-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  margin-top: 5px;
  color: #ef233c;
  text-decoration: none;
}

a:hover {
  color: #d90429;
  text-decoration: none;
}

.course-teacher {
  display: block;
}

.img-container {
  display: flex;
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
}

.card-left {
  max-width: 100%;
  border-right: solid 1px rgba(128, 128, 128, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject-container {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  background-color: inherit;
  border: solid 1px #146e18;
}

.actions {
  display: flex;
  /* flex-direction: column; */
}

form label {
    color: #d90429;
}

.card-all {
    background-color: #ef233b38;
    width: 430px;
    border-radius: 20px;
}

.modal-dialog-centered-cente {
    justify-content: center;
}

.modal-content-width {
    width: auto !important;
}

.card-insert {
    background-color: #ef233b38;
    width: 700px;
    border-radius: 20px;
}


.document {
    margin-top: 1px;
    color: #D90429;
    font-size: 15px;
}

.text-stroke {
    -webkit-text-stroke-color: #D90429;
    -webkit-text-stroke-width: 2px;
    /* shorthand */
    -webkit-text-stroke: 2px #D90429;
    /* color del texto */
    -webkit-text-size-adjust: 102px;
    font-size: 35px;
    -webkit-text-fill-color: #ef233b38;
}

.rounded {
  border-radius: 15px !important;
}

.course-card {
    width: 290px;
    overflow: auto;
    transition: 0.5s;
}

.course-card:hover {
    /* cursor: pointer; */
    transform: scale(1.05);
    transition: 0.5s;
}

.card-headerCompleted {
    border-radius: 10px;
    color: black;
    background-color: transparent;
    border: solid 1px #d90429;
    padding-top: 20px;
    padding-left: 15px;
    margin-top: 2rem;
}

.codCompletedCourse {
    color: white;
    position: relative !important;
    background-color: #d90429;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* ------------------------------------------ */
.course-card::-webkit-scrollbar {
    width: 8px !important;
    /* Tamaño del scroll en vertical */
    height: 8px !important;
    /* Tamaño del scroll en horizontal */
    scrollbar-width: 5px;
    display: none;
}

.course-card::-webkit-scrollbar-thumb {
    background-color: #d9042791;
    border-radius: 4px;
    height: 10px;
}

.course-card::-webkit-scrollbar-thumb:active {
    background-color: #ef233c;
}

.card-header {
    width: 100%;
    /* background-image: url("/imgs/card-header-bg-1.png"); */
    background-repeat: no-repeat;
}

.my-courses-container,
.courses-completed,
.courses-havent-seen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.courses-havent-seen {
    margin-bottom: 100px;
}


.input-group{
    position: relative;
    margin-top: 15px;
}

.input{
    padding: 1px 6px;
    height: 44px;
    width:100%;
    border: none;
    border-radius: 4px!important;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: 2px solid #ef233c;
}

.modal-title{
    color: black;
}

.input-label{
    position: absolute;
    color: rgb(0, 0, 0);
    top:4px;
    left: 0;
    transform: translate(10px,10px);
    transition: transform .25s;
}

.input:focus+.input-label,.input:valid+.input-label{
    transform: translate(2px,-14px) scale(.8);
    color: rgb(0, 0, 0);
    padding-inline: 5px;
    background-color:#ffffff;
    border-right: 4px;
    border:3px solid #ef233c;
    border-top: none;
    border-bottom: none;
}

.input:is(:valid,:focus){
    outline-color: #ef233c;
}

.nameStudent{
    margin-bottom:0!important;
    line-height: 0.75;
  color: #d90429;
}

/* Add btn */

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  /* margin-bottom: 50px; */
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}