@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
    font-family: var(--font-family-roboto);
    background-color: #f5f5f5;
    color: black;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    border: none;
}

.vertical-dotted-line {
    border-left: 1px dotted black;
    height: 100px;
    margin: 0 20px;
}

.card-body {
    display: flex;
    flex-direction: row;
}

.card-boyd a {
    width: 20px;
    height: 20px;
}

.resume-right {
    margin-right: 50px;
}

.btn-container {
    display: flex;
    align-items: center;

}

#sidebar-wrapper .list-group {
    width: 15rem;
    align-items: center;
}

.icon-sidebar {
    margin-left: 1rem;
}

#logo-jdas {
    margin-bottom: 2rem;
}

td{
    border-color: #d90429;
}

td,
th {
    text-align: center;
}

th {
    background-color: #43546F !important;
    color: #fff;
}

#table-first {
    border-radius: 10px 0 0 0 !important;
}

#table-last {
    border-radius: 0 10px 0 0;
}

th {
    border-width: 0 2px 0 2px;
    background-color: #d90429!important;
    border-color: #fff;
}

.icon-user {
    font-size: 4rem;
    color: #00AC4F;
}

.icon-arrow {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #00AC4F;
}

.customer-month {
    display: flex;
}

.modal {
    font-family: var(--font-family-roboto)
}

.modal-header {
    background-color: var(--purple);
    color: white;
}

.modal-header button {
    border: none;
    background-color: inherit;
}

.form-label {
    font-weight: bolder;
}

.btn-update {
    color: white;
    background-color: var(--purple);
}

#tableStudents {
    width: 99% !important;
    margin: auto;
}

#containerTableCustomer {
    height: 47vh;
}

.th-reduce {
    width: 0.75rem !important;
}

.btn-icons {
    border: 0px !important;
}

h2 {
    color: #d90429;
    margin: 20px;
}

.btn-primary {
    background-color: #d90429;
    border: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #ef233c;
}

.btn-primary:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.bg-light {
    background-color: inherit !important;
    border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}

.nav-item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.nav-item::before,
.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d90429;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s;
}

.nav-item::before {
    top: -3px;
    transform-origin: left;
}

.nav-item::after {
    bottom: -3px;
    transform-origin: right;
}

.nav-link:hover {
    color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
    transform: scaleX(1);
}

.white-logo {
    background-color: #d90429;
    position: absolute;
    top: 0;
    z-index: auto;
    margin: 0px 5px 5px;
    border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
    color: #d90429 !important;
}

.collapse,
.navbar-collapse {
    text-align: right;
}

.course-container {
    display: flex;
    justify-content: center;
}

th {
    width: 100px !important;
}

.card {
    /* margin-left: 30px; */
    margin-bottom: 20px;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    border-color: #ef233c;
    display: flex;
    /* flex-direction: row; */
    border-radius: 4px !important;
    background: #fff;
    box-shadow: 5px 14px 29px #cac4c4, -14px -14px 29px #ffffff;
}

.btn-insert {
    background-color: #146e18;
    color: white;
}

.btn-insert:hover {
    background-color: #15791a;
    color: white;
}

.btn-edit {
    background-color: inherit;
    border: none;
}

.scale-up-horizontal-left {
    animation: scale-up-horizontal-left 0.8s;
}

@keyframes scale-up-horizontal-left {
    0% {
        transform: scaleX(0.4);
        transform-origin: left center;
    }

    100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
}

.course-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    margin-top: 5px;
    color: #ef233c;
    text-decoration: none;
}

a:hover {
    color: #d90429;
    text-decoration: none;
}

.course-teacher {
    display: block;
}

.img-container {
    display: flex;
    /* margin-top: 20px; */
    justify-content: center;
    align-items: center;
}

.card-left {
    max-width: 100%;
    border-right: solid 1px rgba(128, 128, 128, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-right {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-container {
    display: flex;
    flex-direction: column;
}

.list-group-item {
    background-color: inherit;
    border: solid 1px #146e18;
}

.actions {
    display: flex;
    /* flex-direction: column; */
}

form label {
    color: #d90429;
}