.course-card{
    width: 290px;
    height: 280px;
    margin-left: 20px;
    overflow: auto;
    transition: 0.5s;
}

.course-card:hover{
    /* cursor: pointer; */
    transform: scale(1.05);
    transition: 0.5s;
}

.card-headerCompleted{
    border-radius: 10px;
    color: black;
    width: 300px;
    height: 100px;
    background-color: transparent;
    border:solid 1px  #d90429;
    padding-top: 20px;
    padding-left: 15px;
    margin-left: 30px;
}

.codCompletedCourse{
    color: white;
    position: relative !important;
    background-color: #d90429;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* ------------------------------------------ */
.course-card::-webkit-scrollbar{
    width: 8px !important;     /* Tamaño del scroll en vertical */
    height: 8px !important;    /* Tamaño del scroll en horizontal */
    scrollbar-width: 5px;
    display: none;
}

.course-card::-webkit-scrollbar-thumb{
    background-color: #d9042791;
    border-radius: 4px;
    height: 10px;
}

.course-card::-webkit-scrollbar-thumb:active {
    background-color: #ef233c;
}

.card-header{
    width: 100%;
    height: 100px !important;
    /* background-image: url("/imgs/card-header-bg-1.png"); */
    background-repeat: no-repeat;
}

.my-courses-container, .courses-completed, .courses-havent-seen{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.courses-havent-seen{
    margin-bottom: 100px;
}

/* {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  */


.hi{
    margin: 40px 0px 35px 40px;
    color: black;
}

.carta {
    width: 250px;
    height: 110px;
    transition: all 0.5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
      -15px -15px 30px rgba(60, 60, 60, 0.082);
    text-align: center;
    overflow: hidden;
    margin-right: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .carta:hover {
    height: 470px;
  }
  
  .carta .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ef233c;
    margin-bottom: 16px;
  }
  
  .carta .header .img-box {
    width: 50px;
  }
  
  .carta .header .title {
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all 0.5s;
    color: white;
  }
  
  .carta:hover .header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .carta:hover .card .header .title {
    padding: 0;
  }
  
  .carta .content {
    display: block;
    text-align: justify;
    color: #212121;
    margin: 0 18px;
  }
  
  .carta .content:hover {
    height: 200px;
  }
  
  .carta .content p {
    transition: all 0.5s;
    font-size: 1em;
    margin-bottom: 8px;
  }
  
  .carta .content a {
    color: #1d8122;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .carta .content .btn-link:hover {
    border-bottom: 1px solid #1d8122;
  }
  