.divReport{
    width: 450px;
    margin-top: 20px;
}

.divReport2{
    /* display: grid;
    justify-content: center;
    align-items: center; */
    width: 300px;
}

.canvasPie{
    width: 300px;
}
.containerReport{
    display: grid;
    gap:.1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(auto-fill,500px)
}
