@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#tableStudents {
  width: 80% !important;
  margin: auto;
}

.btn-download {
  background-color: #146e18;
  color: white;
}

.btn-download:hover {
  background-color: #15791a;
  color: white;
}

.btn-container {
  display: flex;
  align-items: center;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  align-items: center;
}

.icon-sidebar {
  margin-left: 1rem;
}

#logo-jdas {
  margin-bottom: 2rem;
}

td {
  border-color: #d90429;
}

td,
th {
  text-align: center;
}

th {
  background-color: #43546f !important;
  color: #fff;
}

#table-first {
  border-radius: 10px 0 0 0 !important;
}

#table-last {
  border-radius: 0 10px 0 0;
}

th {
  border-width: 0 2px 0 2px;
  background-color: #d90429 !important;
  border-color: #fff;
}
.th-reduce {
  width: 0.75rem !important;
}

h2 {
  color: #d90429;
  margin: 20px;
}

.btn-primary {
  background-color: #d90429;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #ef233c;
}

.btn-primary:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-item::before,
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d90429;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s;
}

.nav-item::before {
  top: -3px;
  transform-origin: left;
}

.nav-item::after {
  bottom: -3px;
  transform-origin: right;
}

.nav-link:hover {
  color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
  transform: scaleX(1);
}

.white-logo {
  background-color: #d90429;
  position: absolute;
  top: 0;
  z-index: auto;
  margin: 0px 5px 5px;
  border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
  color: #d90429 !important;
}

.collapse,
.navbar-collapse {
  text-align: right;
}

th {
  width: 100px !important;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #146e18;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  /* height: 10px; */
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  /* border: solid 1px #01e0572d; */
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
/* Info Card */

.card-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 500px;
  display: none;
}
.card-container .card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 250px;
  padding: 20px;
  overflow: hidden;
  background: #ccc;
  border-radius: 10px;
  box-shadow: -2px 2px 0px 0px #ccc, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 1s;
  width: 500px;
  height: 400px;
}

.card-container .btn {
  width: 150px;
  margin-bottom: 10px;
}

.card-container .card h1 {
  color: crimson;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.card-container .card h1:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.card-container .card h3 {
  color: crimson;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.card-container .card h3:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
}
.card-container .card i {
  margin-right: 5px;
  color: crimson;
}
.card-container .card .circle {
  position: absolute;
  margin: auto;
  top: 10%;
  bottom: 0;
  right: -50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #d90429;
  z-index: -2;
}
.card-container .card .circle:nth-of-type(2) {
  width: 100px;
  height: 100px;
  top: 90%;
  right: -20%;
  z-index: -1;
  background: crimson;
}
@media only screen and (max-width: 780px) {
  .card-container .card {
    width: 250px;
    height: 150px;
    animation: hvr 5s infinite ease-in-out;
    transition: none;
  }
  .card-container .card h1 {
    font-size: 18px;
  }
  .card-container .card h1:nth-of-type(2) {
    font-size: 14px;
  }
  .card-container .card h3 {
    font-size: 12px;
  }
  .card-container .card h3:nth-of-type(2) {
    font-size: 10px;
  }
  .card-container .card .circle {
    right: -70%;
  }
  @keyframes hvr {
    0% {
      box-shadow: -2px 2px 0px 0px #202020,
        -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
    50% {
      transform: translate(0px, -20px) rotateX(30deg) rotateZ(-20deg);
      box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: -2px 2px 0px 0px #202020,
        -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
  }
}

.btnClose {
  background-color: inherit;
  font-size: 30px;
  width: 50px;
  border: none;
  transition: 0.5s;
}

.btnClose:hover {
  color: white;
  transition: 0.5s;
  transform: scale(0.9);
}

.note,
.offcanvas-title {
  font-weight: bold;
}

.pNote {
  font-size: 20px;
  color: #ef233c;
}

#approve-btn, #reprove-btn{
  display: none;
}