@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

#tableStudents {
    width: 99% !important;
    margin: auto;
}

.btn-download {
    background-color: #146e18;
    color: white;
  }
  
  .btn-download:hover {
    background-color: #15791a;
    color: white;
  }

.btn-container {
    display: flex;
    align-items: center;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    align-items: center;
}

.icon-sidebar {
    margin-left: 1rem;
}

#logo-jdas {
    margin-bottom: 2rem;
}

td{
    border-color: #d90429;
}

td,
th {
    text-align: center;
}

th {
    background-color: #43546F !important;
    color: #fff;
}

#table-first {
    border-radius: 10px 0 0 0 !important;
}

#table-last {
    border-radius: 0 10px 0 0;
}

th {
    border-width: 0 2px 0 2px;
    background-color: #d90429!important;
    border-color: #fff;
}

.th-reduce {
    width: 0.75rem !important;
}


h2 {
    color: #d90429;
    margin: 20px;
}

.btn-primary {
    background-color: #d90429;
    border: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #ef233c;
}

.btn-primary:active {
    box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}


.nav-item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.nav-item::before,
.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d90429;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s;
}

.nav-item::before {
    top: -3px;
    transform-origin: left;
}

.nav-item::after {
    bottom: -3px;
    transform-origin: right;
}

.nav-link:hover {
    color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
    transform: scaleX(1);
}

.white-logo {
    background-color: #d90429;
    position: absolute;
    top: 0;
    z-index: auto;
    margin: 0px 5px 5px;
    border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
    color: #d90429 !important;
}

.collapse,
.navbar-collapse {
    text-align: right;
}

th {
    width: 100px !important;
}

