@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #d90429;
}

.btn-primary {
  background-color: #d90429;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #ef233c;
}

.btn-primary:active {
  box-shadow: 0 4px 2px -3px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
}

.bg-light {
  background-color: inherit !important;
  border-bottom: solid 1px rgba(128, 128, 128, 0.295);
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-item::before,
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d90429;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s;
}

.nav-item::before {
  top: -3px;
  transform-origin: left;
}

.nav-item::after {
  bottom: -3px;
  transform-origin: right;
}

.nav-link:hover {
  color: #ef233c;
}

.nav-item:hover::before,
.nav-item:hover::after {
  transform: scaleX(1);
}

.white-logo {
  background-color: #d90429;
  position: absolute;
  top: 0;
  z-index: auto;
  margin: 0px 5px 5px;
  border-radius: 0px 0px 4px 4px;
}

.nav-link.active {
  color: #d90429 !important;
}

.collapse,
.navbar-collapse {
  text-align: right;
}

.course-container {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 32px 8vw;
  background-color: #ef233c;
  height: 50px;
  color: white;
}
.copyright a {
  color: #fff;
  margin: 0 1vw 0 1vw;
}
.copyright a:last-child {
  margin-right: 0;
}
.copyright a::before {
  background-color: #fff !important;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: inherit;
}

body::-webkit-scrollbar-thumb {
  background-color: #ef233b5d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  cursor: pointer;
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
.alert {
  width: 400px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.alert i{
  margin-right: 5px;
}